/* .group1{
    color: red;
}
.group2{
    color: blueviolet;
}
div{
    background-color: aqua;
}
#update{
    color:gold;
}

table, th, td {
  border: 1px solid red;
  border-collapse: collapse;
  
} */
  /* #navList{
    list-style: none;
 } */
 #navList li{
    display: inline-block;
    margin-right: 80px;
    border-radius: 50px;
 }

 /* #navList img{
    margin-top: 10px;
  width: 100px;
  border-radius:20px;
 } 
  #navBar img{
    display: inline;
    margin-top: 50px;
    width: 100px;
    border-radius: 50px;
  }
 #navBar {
    background-color: aqua;
    border-radius: 20px;
 }
 #navList button{
background-color: blueviolet;
color: black;
width: 100px;
height: 50px;
border-radius: 50px;

 }
 #navList button:hover{
    background-color: yellow;
 } */

 #navList{
   display: inline-flex;
 }
 #navBar{
   background-color: greenyellow;
   border-radius: 20px;
  
 }
 #navBar  img{
   display:inline;
   border-radius: 100px;
   width: 100px;
   margin-left: 100px;
   
   margin-top: 40px;
 }
 #navList img{
border-radius: 50px;

 }
#navList button{
   background-color: blueviolet;
   border-radius: 30px;
height: 50px;
width: 50px;
 
}
#navBar button:hover{
   background-color: blue;
}

#footer{
   position: absolute;
   bottom: 0px;
   width:100%;
   height:100px ;
   border-radius: 20px;
   background-color: greenyellow;
}
#footer h1{
   text-align: center;
}

#content{
   text-align: center;
   display: grid;
   /* grid-template-columns: auto auto auto; */
   grid-template-areas:
   'item1 item1 item1 item1 item1'
   'item2 item3 item3 item3 item4'
   'item5 item5 item5 item5 item5';
}
#item1{
   grid-area: item1;
   width: 100%;
 
  
}
#item2{
   grid-area: item2;
   width: 100%;
   background-color:blue;
   height: 200px;
}
#item3{
   grid-area: item3;
   width: 100%;
   background-color:green;
   height: 200px;
}
#item4{
   grid-area: item4;
   width: 100%;
   background-color: burlywood;
   height: 200px;
}
#item5{
   grid-area: item5;
   width: 100%;
   background-color: rebeccapurple;
   height: 200px;
}

/* .item{
   background-color: burlywood;
   width: 400px;
   border-radius: 10px;
margin-right: 20px;
margin-top: 20px;

} */
/* 
.item img:hover{
   width:120%;
} */