
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    width: 500px;
    text-align: center;
    
  } 
  td{
    color: blue;
    text-decoration: solid;
  }
  @media screen and (max-width:600px) {
    body{
      background-color: aqua;

    }
    table, th, td{
      width:900px;
    }
  }
 