#grid{
display:grid;
grid-template-areas:
'navBar navBar navBar navBar navBar navBar '
'button button content content content content'
'footer footer footer footer footer footer'
 ;
 text-align: center;



}

#navBar{
    grid-area: navBar;
    background-color: black;
    color: white;
}
#navBar h1{
    width: 100%;
}
#navBar h1:hover{
transition: 3s;
width: 400px;
}

#button{
    grid-area: button;
    background-color:gray;

  
}
#button button{
   
    width: 50%;
    display: block;
    margin-top: 20px;
    background-color:rgb(233, 40, 10,.5);
    margin-left: 50px;
    block-size:auto;
    /* width: 200px;  
    height: 30px; */
}
#button button:hover{
    transition: 2s;
    width: 200px;
}
#content{
    grid-area: content;
    background-color: beige;
    /* border-radius: 50px; */
}
.item{
    box-shadow: 5px 5px 15px 15px rgba(0,0,0,0.702);
    border-radius: 200px;
    border:1px solid black;
    margin:20px;
}

.item img{
    margin-right: 700px;
    width:20%;
}
/* .image{
    width: 200px;
} */
.item img:hover{
   
    transition:  width 3s;
    width: 400px;
}

.item h1{
    margin-right:  700px;
    width: 50%;

}
.item h1:hover{
    transition: 3s;
   
    width: 400px;
}
.item p{
    margin-right:  700px;
    color: black;
   transform: 100px;
   width: 50%;
}
.item p:hover{
    transition: 3s;
    color: blueviolet;
    width: 400px;
}


#footer{
   
    grid-area: footer;
    background-color: black;
    color: white;
}
#footer h1{
    width: 100%;
}
#footer h1:hover{
transition: 3s;
width: 400px;
}

#shape{
    width: 200px;
    height: 200px;
    background-color: green;
    border-radius: 20px;
}
#shape:hover{
    transition: 5s;
    width: 100%;

}
#bar{
    width: 100%;
    border: 1px solid blue;
    border-radius: 50px;
}
